<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook" style="color: rgb(167, 67, 47);"></i>  
            <i class="fa-brands fa-square-instagram" style="color: rgb(167, 67, 47);"></i>
            <i class="fa-brands fa-linkedin" style="color: rgb(167, 67, 47);"></i>
            <i class="fa-brands fa-square-x-twitter" style="color: rgb(167, 67, 47);"></i>
        </div>
            <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>